<div class="main">
    <div class="container">
        <h1>Contact Us</h1>
    <form action="#" method="POST">
        <div class="inputBox">
            <input type="text" name="name" id="name" required="required" autocomplete="off">
            <span>Name</span>
        </div>
        <div class="inputBox">
            <input type="email" id="email" name="email" required="required" autocomplete="off">
            <span for="email">Email</span>
        </div>
        <textarea id="message" name="message" rows="7" required placeholder="MESSAGE"></textarea>
        <button type="submit">Send Message</button>
    </form>
    </div>
</div>