/* Contact Page css */

.main {
    width: 100%;
    height: calc(100% - 60px);
    background-color: #bfdffe;
    background-image: linear-gradient(62deg, #b8dbff 0%, #f1e3ff 100%);
}

.container {
    height: fit-content;
    max-width: 750px;
    margin: 50px auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    padding-top: 80px; 
    /* background-color: wheat; */
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    margin-top: 25px;
}

label {
    margin-bottom: 5px;
}

textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.inputBox input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

.inputBox span {
    position: absolute;
    left: 0px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    pointer-events: none;
    color: gray;
    transition: all ease 0.2s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 12px;
    font-weight: 600;
    padding: 2px 12px;
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 15px 50px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all linear 0.2s;
    z-index: 1111;
}

button::after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    transition: all linear 0.2s;
    z-index: -1;
}

button:hover::after {
    transform: translate(-50%, -50%) scale(6.5);
}

button:hover {
    color: black;
}

/* //////////////////////////////////// Responsiveness ///////////////////////////////////// */

@media (max-width: 600px) {
    .main {
        width: 100%;
        height: 100%;
        background-color: #bfdffe;
        background-image: linear-gradient(62deg, #b8dbff 0%, #f1e3ff 100%);
    }

    .menu-icon {
        position: fixed;
        width: 100%;
        height: 55px;
        display: block;
        font-size: 22px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 22px;
        background: rgba(255, 255, 255, 0.4);
        /* border-radius: 16px; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.4px);
        -webkit-backdrop-filter: blur(4.4px);
    }

    .menu-icon i {
        color: navy;
        font-weight: 600;
    }

    #cross {
        display: none;
        font-size: 22px;
    }

    .nav-part {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
    }

    .nav-part > h2 {
        color: navy;
        font-weight: 500;
        font-size: 27px;
        cursor: pointer;
    }

    .nav {
        display: none;
        position: fixed;
        width: 100%;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 22px;
        background: rgba(255, 255, 255, 0.4);
        /* border-radius: 16px; */
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.4px);
        -webkit-backdrop-filter: blur(4.4px);
    }

    .nav > .nav-part {
        display: none;
    }

    .links {
        display: none;
        display: flex;
        width: 40%;
        gap: 22px;
    }

    .nav a {
        display: none;
        text-decoration: none;
        color: black;
        font-size: 17px;
    }

    a:hover i {
        opacity: 1;
    }

    a i {
        opacity: 0;
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        font-weight: 500;
        margin-right: 2px;
        transition: opacity ease 0.5s;
        background-color: navy;
        color: white;
    }

    .container {
        height: fit-content;
        max-width: 750px;
        margin: 0px auto;
        padding: 20px;
        padding-top: 75px; 
    }

    h1 {
        font-size: 25px;
    }


    button {
        width: 100%;
        padding: 15px 50px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        margin-bottom: 30px;
        margin-top: 20px;
        cursor: pointer;
        background-color: black;
        color: white;
        position: relative;
        overflow: hidden;
        transition: all linear 0.2s;
        z-index: 999;
    }
    
    button::after {
        content: "";
        position: absolute;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 140px;
        height: 140px;
        background-color: white;
        border-radius: 50%;
        transition: all linear 0.2s;
        z-index: -1;
    }
    
    button:hover::after {
        transform: translate(-50%, -50%) scale(6.5);
    }
    
    button:hover {
        color: black;
    }
}
