<div class="headings-list" id="headingsList">
    <!-- heading -->
    <div class="heading">
      <h3>174 - बागली विधानसभा</h3>
      <h5>बूथ सूची</h5>
    </div>

    <!-- list -->
    <div class="list">
      <table id="myTable">
        <tbody>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
          <tr>
            <td><a href="../src/form.html">1- झिकडाखेडा -1</a></td>
            <td><a href="../src/form.html">2- झिकडाखेडा-1क</a></td>
            <td><a href="../src/form.html">3- बरखेडा सोमा-2</a></td>
            <td><a href="../src/form.html">4- बरखेडा सोमा-3</a></td>
            <td><a href="../src/form.html">5- बरखेडा सोमा-3क</a></td>
            <td><a href="../src/form.html">6- करनावद-4</a></td>
            <td><a href="../src/form.html">7- करनावद-5</a></td>
            <td><a href="../src/form.html">8- करनावद-6</a></td>
            <td><a href="../src/form.html">9- करनावद-6क</a></td>
            <td><a href="../src/form.html">10- करनावद-7</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>