<div class="body">
    <div class="container">
        <h2>Mission 23</h2>
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <!-- User id -->
            <div class="inputBox">
                <input type="text" name="uid" id="uid" required="required" autocomplete="off" formControlName="uid">
                <span>User ID</span>
            </div>
    
            <!-- Password -->
            <div class="inputBox">
                <div class="inp-span">
                    <input type="password" name="password" id="password" required="required" autocomplete="off" formControlName="password">
                    <span>Password</span>
                </div>
    
                <div class="icon">
                    <i class="ri-eye-fill" id="openEye"></i>
                    <i class="ri-eye-off-fill" id="closeEye"></i>
                </div>
            </div>
    
            <!-- Forgot Password -->
            <div class="remember-forgot-div">
                <div class="remember">
                    <input type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                    <span>Remember Me</span>
                </div>
    
                <div class="forgot">
                    <a routerLink="/forgot" routerLinkActive="active">Forgot Password?</a>
                </div>
            </div>
    
            <!-- Submit -->
            <button id="login" type="submit">Login</button>
    
            <!-- Link to registration page -->
            <p>Don't have an account? <a routerLink="/register" routerLinkActive="active">Sign up</a></p>
        </form>
    </div>
</div>