<div class="body">
    <div class="container" data-aos="zoom-in">
        <div class="key" >   
            <h6>
                <i class="ri-key-2-fill"></i>
            </h6>
        </div>
        
        <div class="msg">
            <h2>Forgot Password ?</h2>
            <p>Enter your registered email below to receive password reset instructions.</p>
        </div>
    
        <div class="email-div">
            <!-- user id -->
            <div class="inputBox">
                <input type="text" name="userid" id="userid" required="required" autocomplete="off">
                <span>User Id</span>
            </div>
    
            <!-- new password -->
            <div class="inputBox">
                <input type="password" name="password" id="password" required="required" autocomplete="off">
                <span>New Password</span>
            </div>
    
            <!-- re-enter new password -->
            <div class="inputBox">
                <input type="password" name="password" id="password" required="required" autocomplete="off">
                <span>Re-enter new password</span>
            </div>
    
            <!-- button -->
            <button type="submit">Change Password</button>
    
            <!-- link to login page.  -->
            <p>Remember Password? <a routerLink="/login" routerLinkActive="active">Sign in</a></p>
        </div>
    </div>
</div>